@import "tailwindcss";
    
html {
  scroll-behavior: smooth;
}

@keyframes drawTick {
  from {
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
  }

  to {
    stroke-dasharray: 50;
    stroke-dashoffset: 0;
  }
}

/* Hide scrollbar but keep scrolling enabled */

html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}
